#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#playWrapper {
    place-items: center;
    place-content: center;
    flex: 1;
}
#playContainer {
    padding: 2vh 3vw;
    min-width: 30vw;
}
#buttonContainer {
    display: flex;

}
.button {
    padding: 1.6vh  1vw;
    margin: 0 1vw 0 0;
}
h3 {
    margin: 0;
}