#titleContainer {
    padding: 1.5vh 1.5vw;
    margin: 2vh 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#contentContainer {
    flex: 1;
}
#countdownContainer {
    height: 100%;
    place-items: center;
    place-content: center;
    p {
        font-size: 3rem;
        font-weight: 700;
    }
}