#title {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}
#container {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 2vh 1vw;
    width: 94vw;
    padding: 2vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#profileIcon {
    margin-left: 1vw;
}